@import "compass";
@import "compass/reset";

html, body {
    background: #222;
    font-family: "Courier New", Courier, monospace;
    font-size: 36px;
}

#cr-stage {
    margin-left: auto;
    margin-right: auto;
}

#begin, #try-again {
    position: absolute;
    cursor: pointer;

    a {
        color: #7d7568;
    }

    a:hover {
        color: #e9efd3;
    }
}

#begin {
    left: 894px;
}

#try-again {
    left: 808px;
}