@import "compass";
@import "compass/reset";

html, body {
    background: #222;
    font-family: "Courier New", Courier, monospace;
    font-size: 36px;
}

#cr-stage {
    margin-left: auto;
    margin-right: auto;
}

#begin, #try-again {
    position: absolute;
    cursor: pointer;

    a {
        color: #7d7568;
    }

    a:hover {
        color: #e9efd3;
    }
}

#begin {
    left: 894px;
}

#try-again {
    left: 808px;
}

#dialogue {
    padding: 16px;
    margin: 16px;
    color: #7d7568;
}

#dialogue_wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}